.value-section {
  position: relative;
  overflow: hidden;
  .background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .content {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    .quote-container {
      blockquote {
        display: flex;
        gap: 8px;
        h3 {
          font-weight: 700;
          font-size: 11px;
          position: relative;
          span {
            font-weight: inherit;
            font-size: 25px;
            line-height: 1px;
            position: absolute;
            bottom: -2px;
            margin-left: 8px;
          }
        }
        &::before {
          content: '“';
          font-weight: 700;
          font-size: 25px;
          line-height: 1;
          transform: translateY(-2px);
        }
      }
      .author {
        margin-top: 17px;
        margin-left: 20px;
        font-size: 11px;
        font-weight: 500;
        max-width: 120px;
        display: flex;
        flex-direction: column;
      }
    }
    .content-text {
      font-size: 11px;
    }
  }
  @media (min-width:640px) {
    .content {
      margin-top: 55px;
      gap: 55px;
      .quote-container {
        blockquote {
          h3 {
            font-size: var(--text-lg);
            span {
              font-size: 50px;
              bottom: -8px;
              margin-left: 15px;
            }
          }
          &::before {
            font-size: 50px;
            transform: translateY(-8px);
          }
        }
        .author {
          margin-left: 40px;
          font-size: var(--text-lg);
          font-weight: 500;
          max-width: 200px;
        }
      }
      .content-text {
        font-size: var(--text-lg);
      }
    }
  }
  @media (min-width:1536px) {
    .content {
      .quote-container {
        blockquote > h3, .author, .content-text {
          font-size: var(--text-xl);
        }
        .author {
          max-width: none;
        }
      }
    }
  }
}

.value-business-section {
  ul {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 7px;
    li {
      position: relative;
      overflow: hidden;
      color: white;
      padding: 12px 8px;
      h3, p {
        font-size: 11px;
      }
      h3 {
        font-weight: 600;
      }
      .background {
        position: absolute;
        inset: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
    }
  }
  @media (min-width:640px) {
    ul {
      margin-top: 75px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 32px;
      li {
        padding: 21px 32px;
        h3, p {
          font-size: var(--text-lg);
        }
        h3 {
          height: 80px;
        }
      }
    }
  }
  @media (min-width:1536px) {
    ul {
      li {
        h3, p {
          font-size: var(--text-xl);
        }
      }
    }
  }
  @media (min-width:1920px) {
    ul {
      li {
        aspect-ratio: 1 / 0.9;
      }
    }
  }
}

.initiatives-section {
  ul {
    margin-top: 21px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 7px;
    li {
      position: relative;
      overflow: hidden;
      color: white;
      padding: 12px 13px;
      aspect-ratio: 3 / 3;
      p {
        font-size: 11px;
      }
      .background {
        position: absolute;
        inset: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
    }
  }
  @media (min-width:640px) {
    ul {
      margin-top: 55px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 19px;
      li {
        padding: 21px 30px;
        p {
          font-size: var(--text-lg);
        }
      }
    }
  }
  @media (min-width:1101px) {
    ul {
      margin-top: 55px;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      gap: 19px;
      li {
        padding: 21px 30px;
        aspect-ratio: 3 / 4;
        p {
          font-size: var(--text-lg);
        }
      }
    }
  }
  @media (min-width:1536px) {
    ul {
      li {
        p {
          font-size: var(--text-xl);
        }
      }
    }
  }
  @media (min-width:1920px) {
    ul {
      li {
        aspect-ratio: 1 / 1;
      }
    }
  }
}

.rural-development-section {
  .content {
    .buttons-container {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 7px;
      button {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  @media (min-width:640px) {
    .content {
      .buttons-container {
        button {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}

.education-section, .rural-development-section {
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    .buttons-container {
      margin-bottom: 21px;
    }
    .tab-content-container {
      .image {
        aspect-ratio: 16 / 9;
      }
      p {
        margin-top: 21px;
        font-size: 11px;
      }
    }
  }
  @media (min-width:640px) {
    .content {
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin-top: 35px;
      .buttons-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        margin-bottom: 0;
        button {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
      }
      .tab-content-container {
        width: 100%;
        .image {
          aspect-ratio: auto;
        }
        p {
          margin-top: 50px;
          font-size: var(--text-lg);
        }
      }
    }
  }

  @media (min-width:1102px) {
    .content {
      display: flex;
      flex-direction: row;
      gap: 160px;
      margin-top: 35px;
      .buttons-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 40%;
        margin-bottom: 0;
        button {
          padding-left: 0;
          padding-right: 0;
          width: 70%;
        }
      }
      .tab-content-container {
        width: 60%;
        .image {
          aspect-ratio: auto;
        }
        p {
          margin-top: 50px;
          font-size: var(--text-lg);
        }
      }
    }
  }
  @media (min-width:1536px) {
    .content {
      .tab-content-container {
        p {
          font-size: var(--text-xl);
        }
      }
    }
  }
}

.support-section {
  .content {
    margin-top: 21px;
    .info-card {
      position: relative;
      overflow: hidden;
      color: white;
      padding: 12px 17px;
      h3, p {
        font-size: 11px;
      }
      h3 {
        font-weight: 600;
      }
      .background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
    }
    .image {
      margin-top: 10px;
      aspect-ratio: 16 / 9;
    }
  }
  @media (min-width:640px) {
    .content {
      margin-top: 61px;
      .info-card {
        padding: 29px 28px;
        h3, p {
          font-size: var(--text-lg);
        }
        p {
          margin-top: 28px;
        }
      }
      .image {
        margin-top: 21px;
      }
    }
  }
  @media (min-width:1536px) {
    .content {
      .info-card {
        h3, p {
          font-size: var(--text-xl);
        }
      }
    }
  }
}

.healthcare-section, .livelihood-section {
  .content {
    margin-top: 21px;
    ul {
      display: grid;
      gap: 10px;
      li {
        position: relative;
        overflow: hidden;
        color: white;
        padding: 12px 17px;
        aspect-ratio: 16 / 7;
        h3, p {
          font-size: 11px;
        }
        h3 {
          font-weight: 600;
        }
        p {
          margin-top: 10px;
        }
        .background {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -1;
        }
      }
    }
  }
  @media (min-width:640px) {
    .content {
      margin-top: 57px;
      ul {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 17px;
        li {
          padding: 29px 28px;
          aspect-ratio: auto;
          h3, p {
            font-size: var(--text-lg);
          }
          p {
            margin-top: 28px;
          }
        }
        // li:last-child {
        //   grid-column: span 2 / span 2;
        // }
      }
    }
  }
  @media (min-width:1536px) {
    .content {
      ul {
        li {
          h3, p {
            font-size: var(--text-xl);
          }
        }
      }
    }
  }
}
.healthcare-section {
  .image {
    margin-top: 10px;
    aspect-ratio: 16 / 9;
  }
  @media (min-width:640px) {
    .image {
      margin-top: 21px;
    }
  }
}
.livelihood-section {
  .content {
    .image {
      margin-top: 10px;
      aspect-ratio: 16 / 9;
    }
  }
  @media (min-width:640px) {
    .content {
      ul {
        li:last-child {
          grid-column: span 2 / span 2;
        }
      }
      .image {
        margin-top: 21px;
        aspect-ratio: 16 / 7;
      }
    }
  }
}

.end-sections {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  .background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.committee-section, .future-section {
  position: relative;
  overflow: hidden;
  color: white;
  padding-bottom: 0;
  @media (min-width:640px) {
    padding-bottom: 70px;
  }
}

.future-section {
  .content-text {
    margin-top: 21px;
    font-weight: 700;
    font-size: 11px;
    line-height: 16.5px;
  }
  @media (min-width:640px) {
    .content-text {
      margin-top: 95px;
      font-size: var(--text-lg);
      line-height: 28px;
      max-width: 500px;
    }
  }
  @media (min-width:1536px) {
    .content-text {
      font-size: var(--text-xl);
      line-height: 30px;
      max-width: none;
    }
  }
}

.back-to-top-section {
  position: relative;
  overflow: hidden;
  color: white;
}
